.instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 1rem 2rem;

    background-color: $color-grey-light-1;
    border-bottom: 1px solid $color-grey-light-3;
    border-top: 1px solid $color-grey-light-3;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }

    &__instruction {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            margin-top: 1rem;
            margin: auto;
        }

        &-number {
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            padding: 1rem;

            background: $color-primary;
            border: 2px solid $color-primary-dark;
            color: $color-white;
            text-align: center;
            font-size: 3rem;

        }

        &-text {
            color: $color-grey-dark-1;
            font-weight: 700;

            font-size: 1.8rem;
            margin-left: 2.5rem;
            text-transform: uppercase;
        }
    }
}