.tool {
    display: flex;
    flex-direction: column;

    background-color: rgba($color-white, 0.5);
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 2rem;

    position: relative;

    &__content {
        display: flex;
        flex-direction: column;

        margin-top: 5rem;

        @media only screen and (max-width: $bp-xsmall) {
            margin-top: 3rem;
        }

        &-box {
            display: flex;
            flex-direction: column;
            padding: 1rem 2rem;
        }

        &-container {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: space-between;

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: 1fr 1fr;
            }

            @media only screen and (max-width: $bp-xsmall) {
                grid-template-columns: 1fr;
            }

        }

        &-category {
            font-size: 1.8rem;
            margin-top: 1rem;

            color: $color-grey-dark-1;
            font-weight: 700;

            @media only screen and (max-width: $bp-xsmall) {
                margin-top: 0;
            }
        }

        &-categoryvalue {
            height: 5rem;
            margin-top: 0.5rem;
            font-size: 1.8rem;
            width: 100%;

            outline-color: $color-primary-dark;
            border: none;
            border-radius: 0.25rem;

            color: $color-grey-dark-2;
            box-shadow: 0px 1.5rem 1.5rem -1.5rem rgba($color-black, .25);

            padding: 0 1rem;

            &:hover {
                box-shadow: 0px 1.5rem 1.5rem -1.5rem rgba($color-black, .5);
            }
        }

        &-categoryvalue:invalid {
            outline-color: red;
        }

        &-total {
            margin: 5rem 2rem;
            padding: 5rem;
            color: $color-grey-dark-2;
            background-color: $color-white;
            box-shadow: 0px 1.5rem 1.5rem -1.5rem rgba($color-black, .25);
            border-radius: 0.25rem;
            text-align: center;
            font-size: 3.5rem;

            @media only screen and (max-width: $bp-xsmall) {
                padding: 2.5rem;
                margin-top: 5rem;
                margin-right: 2rem;
                margin-left: 2rem;
                margin-bottom: 2rem;
            }

            &-message {

                @media only screen and (max-width: $bp-xsmall) {
                    font-size: 3rem;
                }

            }

            &-score {
                font-size: 5rem;
                margin-top: 4.5rem;
                font-weight: 300;

                @media only screen and (max-width: $bp-xsmall) {
                    font-size: 3rem;
                    margin-top: 2.5rem;
                }
            }
        }

        button {
            margin-top: 5rem;
            width: 30rem;
            margin-right: 2rem;
            align-self: flex-end;
        }
    }
}