.tool {
    display: flex;
    flex-direction: column;

    background-color: rgba($color-white, 0.5);
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 2rem;

    position: relative;

    &__content {

        &-container {
            
        }
    }
}