*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.6rem;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 40%;
    }
}

body {
    min-height: 100vh;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $color-grey-light-1;

    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template-rows: minmax(30vh, max-content) 1fr min-content;
}