//Colors
$color-primary: #1798c1;
$color-primary-light: #29b8e5;
$color-primary-dark: #127a9a;
$color-primary-inverted: #ea6e48;
$color-primary-inverted-dark: #e8673e;
$color-positive-light:#28B463;
$color-positive-dark:#25a75b;

$color-white: #FFF;
$color-black: #000;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;


$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

//Font Sizes
$default-font-size: 1.6rem;

// Font Variables
$font-primary: 'Lato',
sans-serif;

//Breakpoint Variables
$bp-large:65.625em; //1050px;
$bp-medium:60em; //950px;
$bp-small:45em; //750px;
$bp-xsmall:30em //450