.dropdown {

    width: 30rem;
    margin-left: 2rem;
    margin-top: 2rem;

    &-menu {
        position: absolute;
        width: 30rem;

        display: flex;
        flex-direction: column;
        margin-top: 0.25rem;
        box-shadow: 0px 1.5rem 1.5rem -1.5rem rgba($color-black, .5);
    }

    &-item {
        display: flex;
        align-items: center;

        background-color: $color-white;
        padding: 0.5rem 1rem;
        z-index: 10;
        text-decoration: none;
        color: $color-grey-dark-2;
        font-size: 1.8rem;
        transition: background-color .2s;
        height: 5rem;

        &:hover {
            background-color: $color-grey-light-1;
            border-left: 2px solid $color-primary-dark;
            color: $color-primary-dark;
            z-index: 10;
        }
    }

    &-item:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-1;
    }

    &-item:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    &-item:last-child {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}