%heading {
    font-family: $font-primary;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    color: $color-grey-light-1;
    font-size: 1.6rem;
}

.heading-1-dark {
    @extend %heading;
    color: $color-grey-dark-1;
    font-size: 2.5rem;
}